.container {
    font-family: Arial, sans-serif;
    background-color: #4a5c82;
    padding: 20px;
    height: 100vh;
  }
  
  .header {
    background-color: #ffb6c1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .list {
    margin-top: 20px;
  }
  
  .card {
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงองค์ประกอบ */
    align-items: center; /* จัดแนวกลางแนวตั้ง */
    margin: 10px; /* ระยะห่างระหว่างการ์ด */
    padding: 10px; /* ระยะห่างภายในการ์ด */
    border: 1px solid #ccc; /* เส้นขอบของการ์ด */
    border-radius: px; /* มุมโค้งของการ์ด */
    background-color: #ffffff;
  }

  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .title {
    color: #666;
  }
  
  .email {
    color: #000000;
    text-decoration: none;
  }
  .card img{
    width: 50px;
  }
  .info {
    display: flex;
    flex-direction: column; /* จัดเรียงข้อมูลเป็นแนวตั้ง */
}
.card-content {
  display: flex; /* ใช้ Flexbox สำหรับการจัดเรียงภาพและข้อมูล */
  align-items: center; /* จัดแนวกลางแนวตั้ง */
}
.profile-image {
  width: 50px; /* ขนาดของภาพ */
  height: 50px; /* ขนาดของภาพ */
  margin-right: 10px; /* ระยะห่างระหว่างภาพและข้อมูล */
  border-radius: 50%; /* ทำให้ภาพเป็นวงกลม */
}