.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a5c82; /* สีพื้นหลังของหน้า */
  }
  
  .login-card {
    background-color: #fdd1bd;
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-logo img {
    width: 200px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    color: #000;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #000;
  }
  
  .forgot-password a {
    color: red;
  }
  
  .login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .signup-text {
    margin-top: 20px;
  }
  
  .signup-text a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
.error{

    color: red;
    font-size: 12px;
}
.input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  