.monthly-report {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.date-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.date-select label {
  font-weight: bold;
}

select {
  padding: 5px;
  font-size: 16px;
}

.report-list {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.report-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.report-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.item-details p {
  margin: 5px 0;
}

.total-price {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* Styles for total count */
.total-count {
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
}

/* Styles for pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #0056b3;
  font-weight: bold;
}
