.register-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #4a5c82; /* สีพื้นหลังของหน้า */
}

.register-input input{
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;

}

.register-container {
    width: 350px;
    background-color: #fcd5b5;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}

textarea {
    resize: none;
    width: 95%;
}

.register-button {
    background-color: #4b74d2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.register-button:hover {
    background-color: #3a5bb0;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}